reports
logs
vendor
composer.lock
nbproject
exchange
.svn
/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/inspectionProfiles/profiles_settings.xml
!/.idea/inspectionProfiles/seopult.xml
/configs/Local/*
!.gitkeep